<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Nuestras Noticias</span>
                <h2>Noticias Recientes</h2>
            </div>
        </div>
        <div class="row d-flex" >
            <div class="col-md-4 d-flex ftco-animated" *ngFor="let publicacion of publicaciones | paginate: {itemsPerPage: 6, currentPage: pageActual}">
                <div class="blog-entry justify-content-end"> 
                    <a routerLink="/blogSingle" class="block-20" >
                        <img [src]='publicacion.img' />
                    </a>
                    <div class="text p-4 float-right d-block">
                        <div class="topper d-flex align-items-center">
                            <div class="one py-2 pl-3 pr-1 align-self-stretch">
                                <span class="day">15</span>
                            </div>
                            <div class="two pl-0 pr-3 py-2 align-self-stretch">
                                <span class="yr">2020</span>
                                <span class="mos">Enero</span>
                            </div>
                        </div>
                        <h3 class="heading mt-2"><a routerLink="/blogSingle">{{publicacion.title}}</a>
                        </h3>
                        <p>{{publicacion.resumen}}
                        </p>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
            </div>
        </div>
    </div>
</section>