<!-- Valores -->
<section class="ftco-section-parallax bg-secondary">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Nuestros valores</h2>
                    <br>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="valor">
                        <h2 style="color: white;"><span class="flaticon-shield"></span> Ética</h2>
                        <p>Está en nuestra cultura corporativa rechazar todo acto antiético y de corrupción en
                            cualquiera de sus formas, es por ello que promovemos en nuestros clientes y abogados el
                            respeto irrestricto de la Ley.</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="valor">
                        <h2 style="color: white;"><span class="flaticon-shield"></span> Experiencia</h2>
                        <p>Nuestra experiencia de más de 38 años nos hace reconocer inmediatamente las necesidades
                            legales de nuestros clientes, ofreciéndole la solución más adecuada para la protección
                            de sus intereses.</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="valor">
                        <h2 style="color: white;"><span class="flaticon-shield"></span> Empatía</h2>
                        <p>Somos empáticos con nuestros clientes, generando relaciones de largo plazo que incluso
                            trascienden generaciones.</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="valor">
                        <h2 style="color: white;"><span class="flaticon-shield"></span> Innovación</h2>
                        <p>La innovación proviene de nuestra acreditada experiencia. Es por ello que hemos creado un
                            exclusivo sistema informático que permite a nuestros abogados acceder en tiempo real e
                            inmediato y en cualquier parte del mundo,</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="valor">
                        <h2 style="color: white;"><span class="flaticon-shield"></span> Unión</h2>
                        <p>Somos un grupo de profesionales que trabaja en equipo, haciendo participe de los
                            proyectos al mismo cliente, logrando con ello que este permanentemente informado de su
                            caso.</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="valor">
                        <h2 style="color: white;"><span class="flaticon-shield"></span> Excelencia</h2>
                        <p>La excelencia de nuestro trabajo, se refleja en los resultados conseguidos y en la
                            confianza de los más de 1700 clientes que tenemos dentro y fuera del país, muchos de los
                            cuales nos acompañan desde nuestra fundación.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>