<!-- Nuestros Abogados -->
<section class="ftco-section bg-secondary">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">Nuestros Abogados</span>
                <h2 class="mb-4">Nuestros Abogados</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-sm-6" *ngFor="let abogado of abogados | paginate: {itemsPerPage: 6, currentPage: pageActual2}">
                <div class="block-2 ftco-animated">
                    <div class="flipper">
                        <div class="front" [ngStyle]="{'background-image':'url(' + abogado.image + ')'}">
                            
                            <div class="box">
                                <h2><span *ngIf="abogado.isDoctor">Dr. </span>{{abogado.nombre_abogado}}</h2>
                                <p >{{abogado.condicion}}</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>DNI: {{abogado.DNI}} <br>
                                    E-mail: {{abogado.correo}} <br>
                                    <span *ngIf="abogado.colegiatura">Colegiatura: {{abogado.colegiatura}}</span>
                                    <span *ngIf="abogado.condicion != 'Abogado'">Condición: {{abogado.condicion}}</span>
                                    </p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img [src]="abogado.image" alt="">
                                </div>
                                <div class="name align-self-center"><span *ngIf="abogado.isDoctor">Dr. </span>{{abogado.nombre_abogado}}<span class="position">{{abogado.condicion}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
			
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <pagination-controls nextLabel="Siguiente" previousLabel="Anterior"  (pageChange)="pageActual2 = $event"></pagination-controls>
            </div>
        </div>
    </div>
</section>
