<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_2.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">

            <div class="col-md-10 text-center ftco-animate">
                <h1 style="font-size: 58px;">GUTIERREZ & ABOGADOS</h1>

            </div>
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Nosotros</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Inicio <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Nosotros <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<app-about></app-about>
<app-about-services></app-about-services>
<app-about-free-consult></app-about-free-consult>
<app-resenas></app-resenas>
<app-gallery></app-gallery>