
	<!-- Footer -->
	<footer class="ftco-footer ftco-bg-dark ftco-section col-md-12 col-sm-12" style="background: #242423;">
		<div class="container" >
			<div class="row mb-5" >
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Estudio jurídico GUTIERREZ & ABOGADOS</h2>
						<p>Nuestro éxito se refleja en la confianza de nuestros clientes a los cuales agradecemos su confianza.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Áreas Prácticas</h2>
						<ul class="list-unstyled">
							<li *ngFor="let categoria of categorias"><a class="underline-hover"
								routerLink="/blogSingle/categoria/{{categoria.id_categoria}}">{{categoria.nombre_categoria}} <span
									class="ion-ios-arrow-forward"></span></a></li>

						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Horas de Trabajo</h2>
						<div class="opening-hours">
							<h4>Horario de trabajo:</h4>
							<p class="pl-3">
								<span>Lunes – Viernes : 9 am - 20 pm</span>
								<br>
								<span>Sábados : 9 am - 17 pm</span>
							</p>
							<h4>Descansos:</h4>
							<p class="pl-3">
								<span>Solo los días domingos</span>
								<br>
								<span>Solo los feriados oficiales</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Tienes alguna consulta?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">Av. Las Lomas 1224 Of.
										402, Urb. Mangomarca-SJL</span></li>
								<li><a href="tel://+51 987 486 638"><span class="icon icon-phone"></span><span class="text">+51 987 486
											638</span></a></li>
								<li><a href="mailto:joseluisguty@hotmail.com"><span class="icon icon-envelope"></span><span
											class="text">joseluisguty@hotmail.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados. |
						Design by <a
							href="mailto:anthony.diaz2@unmsm.edu.pe?subject=Quiero contactarme con usted para realizar una pagina web"
							class="design">Anthony Diaz</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>