<app-navbar></app-navbar>


<div class="hero-wrap js-fullheight header" style="background-image: url('assets/images/bg_3.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
            data-scrollax-parent="true">

            <div class="col-md-10 text-center ftco-animate title-normal">
                <h1>GUTIERREZ & ABOGADOS</h1>

            </div>
            <div class="css-typing">
                <h1>GUTIERREZ & ABOGADOS</h1>
            </div>
            <div class="col-md-10 text-center ftco-animate margin-subirS"
                data-scrollax=" properties: { translateY: '70%' }">
                <h2 class="subheading" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Siempre
                    estamos para ayudarlos!</h2>

                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    <span>Experiencia Innovación Excelencia</span>
                </h1>
                <p><a routerLink="/contact" class="py-3 px-4  btn-primary ">Envíanos tu consulta</a></p>
            </div>
        </div>
    </div>
</div>



<app-services></app-services>
<app-about></app-about>
<app-mision-vision></app-mision-vision>
<app-practice-areas></app-practice-areas>
<app-attorneys></app-attorneys>
<app-free-consult></app-free-consult>
<app-resenas></app-resenas>
<app-blog></app-blog>
<app-gallery></app-gallery>
<app-valores></app-valores>

<app-footer></app-footer>

<app-loader></app-loader>