<!-- Nosotros -->
<section class="ftco-counter" id="section-counter">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-md-6 d-flex">
                <div class="img d-flex align-self-stretch align-items-center justify-content-center"
                    style="background-image:url(assets/images/about2.jpg);">
                    <a href="https://vimeo.com/45830194"
                        class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                        <span class="icon-play"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 px-5 py-5">
                <div class="row justify-content-start pt-3 pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <span class="subheading" style="-webkit-box-shadow: 6px 3px 12px 0px rgba(0,0,0,0.75);
                        -moz-box-shadow: 6px 3px 12px 0px rgba(0,0,0,0.75);
                        box-shadow: 6px 3px 12px 0px rgba(0,0,0,0.75);">Nosotros</span>
                        <h2 class="mb-4">Somos uno de los mejores estudios de servicios legales del Perú</h2>
                        
                        <p>Esto es algo que no solo lo decimos, y es apoyado por la cantidad de consultas que nos
                            hacen los medios de comunicación; sino que es algo que se puede ver en la cantidad de
                            clientes, y en la preferencia de vecinos notables de la ciudad de Arequipa que han
                            tomado
                            nuestros servicios.</p>
                        <p>Por ejemplo, atendemos a ministros de estado, altos ejecutivos de la
                            banca, personalidades de la escena nacional, miembros del cuerpo diplomático, etc. El
                            nuestro, como decimos en el video, no es un estudio caro, somos un estudio funcional. Es
                            decir, hacemos que la ley, funcione para Ud.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center py-4 bg-light mb-4">
                            <div class="text">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="flaticon-lawyer"></span>
                                </div>
                                <strong class="number" data-number="60">0</strong>
                                <span>Abogados especializados</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center py-4 bg-light mb-4">
                            <div class="text">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="flaticon-handshake"></span>
                                </div>
                                <strong class="number">+ </strong> <strong class="number" data-number="2000">0</strong>
                                <span>Consultas obtenidas</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center py-4 bg-light mb-4">
                            <div class="text">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="ion-ios-checkbox-outline"></span>
                                </div>
                                <strong class="number">+ </strong> <strong class="number" data-number="1500">0</strong>
                                <span>Casos exitosos</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center py-4 bg-light mb-4">
                            <div class="text">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="flaticon-medal"></span>
                                </div>
                                <strong class="number">+ </strong> <strong class="number" data-number="1500">0</strong>
                                <span>Comentarios positivos</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>