<!-- RESENAS -->
<section class="ftco-section testimony-section bg-secondary">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">Testimonios</span>
                <h2 class="mb-4">Clientes satisfechos</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(assets/images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">&ldquo;“Trabajamos con esta firma de abogados desde hace muchos años
                                    y
                                    tenemos bastante confianza en ellos, en realidad, todos los pasos que damos los
                                    hacemos siempre consultando con el Estudio.”&rdquo;</p>
                                <p class="name">Arthur Browner</p>
                                <span class="position">Cliente</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(assets/images/person_2.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">&ldquo;“Trabajamos con esta firma de abogados desde hace muchos años
                                    y
                                    tenemos bastante confianza en ellos, en realidad, todos los pasos que damos los
                                    hacemos siempre consultando con el Estudio.”&rdquo;</p>
                                <p class="name">Arthur Browner</p>
                                <span class="position">Cliente</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(assets/images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">&ldquo;“Trabajamos con esta firma de abogados desde hace muchos años
                                    y
                                    tenemos bastante confianza en ellos, en realidad, todos los pasos que damos los
                                    hacemos siempre consultando con el Estudio.”&rdquo;</p>
                                <p class="name">Arthur Browner</p>
                                <span class="position">Cliente</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(assets/images/person_4.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">&ldquo;“Trabajamos con esta firma de abogados desde hace muchos años
                                    y
                                    tenemos bastante confianza en ellos, en realidad, todos los pasos que damos los
                                    hacemos siempre consultando con el Estudio.”&rdquo;</p>
                                <p class="name">Arthur Browner</p>
                                <span class="position">Cliente</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(assets/images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">&ldquo;“Trabajamos con esta firma de abogados desde hace muchos años
                                    y
                                    tenemos bastante confianza en ellos, en realidad, todos los pasos que damos los
                                    hacemos siempre consultando con el Estudio.”&rdquo;</p>
                                <p class="name">Arthur Browner</p>
                                <span class="position">Cliente</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<router-outlet></router-outlet>