<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Publicaciones</h1>
  </div>

  <!-- Content Row -->

  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Nueva Publicación</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Otras acciones:</div>
              <a class="dropdown-item" routerLink="/dashboard/list">Ver lista de publicaciones</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <form class="user col-xl-10 col-lg-10" style="margin: auto; ">
              <div class="form-group">
                <input type="text" class="form-control form-control-user" placeholder="Titulo" name="Titulo">
              </div>
              <div class="form-group">
                <textarea rows="4" cols="50" style="border-radius: 15px;" class="form-control form-control-user"
                  placeholder="Descripcion" name="Descripcion"></textarea>
              </div>
              <div class="form-group">
                <textarea rows="4" cols="50" style="border-radius: 15px;" class="form-control form-control-user"
                  placeholder="Resumen" name="Resumen"></textarea>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text upload" id="btnUpload">Upload</span> <!--  (click)="upload()" -->
                    </div>
                    <div class="custom-file">
                      <form action="/api/upload" method="post" enctype="multipart/form-data">
                        <input (change)="fileChange($event)" type="file" class="custom-file-input" id="inputGroupFile01"
                          aria-describedby="inputGroupFileAddon01">
                      </form>
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <select class="form-control">
                  <option value="prueba1">Prueba 1</option>
                  <option value="prueba2">Prueba 2</option>
                  <option value="prueba3">Prueba 3</option>
                </select>
              </div>
              <button class="btn btn-block btn-submit">
                Crear Nueva Publicación
              </button>
              <br>
              <br>

            </form>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- /.container-fluid -->