<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Publicaciones</h1>
    </div>
  
    <!-- Content Row -->
  
    <div class="row">
  
      <!-- Area Chart -->
      <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Editar Publicación</h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Otras acciones:</div>
                <a class="dropdown-item" routerLink="/dashboard/list">Ver lista de publicaciones</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-area">
              <form class="user col-xl-10 col-lg-10" style="margin: auto; ">
                <div class="form-group">
                  <input type="text" [(ngModel)]="publicacion.title" class="form-control form-control-user"
                    placeholder="Titulo" name="Titulo" id="titulo">
                </div>
                <div class="form-group">
                  <textarea rows="4" cols="50" [(ngModel)]="publicacion.description" style="border-radius: 15px;"
                    class="form-control form-control-user" placeholder="Descripcion" name="Descripcion" id="descripcion"></textarea>
                </div>
                <div class="form-group">
                  <textarea rows="4" cols="50" [(ngModel)]="publicacion.resumen" style="border-radius: 15px;"
                    class="form-control form-control-user" placeholder="Resumen" name="Resumen" id="resumen"></textarea>
                </div>
                
                <div class="form-group">
                  <input type="text" [(ngModel)]="publicacion.image" class="form-control form-control-user"
                    placeholder="Image" name="Image" id="imagen">
                </div>
                
                <div class="form-group">
                  <label for="categorias">Categorías</label>
                  <select class="form-control" id="categorias">
                    <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">
                      {{categoria.nombre_categoria}}</option>
                  </select>
                </div>
  
                <div class="form-group">
                  <label>Keywords</label>
                  <div *ngFor="let keyword of keywords" class="keywords" id="list">
                    <input type="checkbox" [value]="keyword.id_keyword" [id]="keyword.id_keyword"  > {{keyword.nombre_keyword}}
  
                  </div>
                </div>
  
                <button class="btn btn-block btn-submit" (click)="actualizarPublicacion()">
                  Actualizar Publicación
                </button>
                <br>
                <br>
  
              </form>
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  
  </div>
  <!-- /.container-fluid -->