<!-- Tipos de ayuda -->
<section class="ftco-section ftco-no-pb services-section">
    <div class="container">
        <div class="row no-gutters d-flex">
            <div class="col-md-3 text-center services align-self-stretch ftco-animate p-4">
                <div class="icon"><span class="flaticon-auction"></span></div>
                <div class="media-body">
                    <h3 class="heading mb-3"><a href="contact.html">Obtenga su asesoramiento legal</a></h3>
                    <p>Todos nos consultan. Consúltenos usted también. La actividad profesional que desarrollamos
                        nos permite servir adecuadamente a nuestros clientes.</p>
                </div>
            </div>
            <div class="col-md-3 text-center services align-self-stretch ftco-animate p-4">
                <div class="icon"><span class="flaticon-lawyer"></span></div>
                <div class="media-body">
                    <h3 class="heading mb-3"><a href="contact.html">Trabajas con los expertos</a></h3>
                    <p>Años solucionando problemas legales. Esta experiencia es respaldada por todas las consultas
                        resueltas de las personas que han tomado nuestro servicio.</p>
                </div>
            </div>
            <div class="col-md-3 text-center services align-self-stretch ftco-animate p-4">
                <div class="icon"><span class="flaticon-money"></span></div>
                <div class="media-body">
                    <h3 class="heading mb-3"><a href="contact.html">Los precios más adecuados para usted</a></h3>
                    <p>Solo los líderes como nosotros pueden ofrecer estos precios. Por ejemplo, atendemos a
                        ministros de estado, altos ejecutivos de la banca, miembros del cuerpo diplomático, etc.</p>
                </div>
            </div>
            <div class="col-md-3 text-center services align-self-stretch ftco-animate p-4">
                <div class="icon"><span class="ion-ios-help-circle-outline"></span></div>
                <div class="media-body">
                    <h3 class="heading mb-3"><a href="contact.html">Resolvemos todas sus consultas</a></h3>
                    <p>Siempre apoyando y resolviendo la cantidad de consultas que nos hacen llegar. La preferencia
                        siempre será usted el cliente.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<router-outlet></router-outlet>