<!-- Nuestros Abogados -->
<section class="ftco-section bg-secondary">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">Nuestros Abogados</span>
                <h2 class="mb-4">Nuestros Abogados</h2>
            </div>
        </div>
        <div class="row flex-justify">
            <div class="col-lg-3 col-sm-6">
                <div class="block-2 ftco-animate">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../../../assets/images/person_1.jpg);">
                            <div class="box">
                                <h2>Dr. Andrés Jaime Gutiérrez Yábar</h2>
                                <p>Abogado</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>DNI: 29303726 <br>
                                    E-mail: andresyab58@gmail.com <br>
                                    Colegiatura: C.A.A. Nº 233
                                </p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="../../../assets/images/person_1.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Dr. Andrés Jaime Gutiérrez Yábar<span
                                        class="position">Abogado</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="block-2 ftco-animate">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../../../assets/images/person_2.jpg);">
                            <div class="box">
                                <h2>Dr. Fredy Alfredo Gutiérrez Yábar</h2>
                                <p>Abogado</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>DNI: 29303657 <br>
                                    E-mail: alfredoguty_5@hotmail.com<br>
                                    Colegiatura: C.A.A. Nº 2271
                                </p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="../../../assets/images/person_2.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Dr. Fredy Alfredo Gutiérrez Yábar<span
                                        class="position">Abogado</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="block-2 ftco-animate">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../../../assets/images/person_3.jpg);">
                            <div class="box">
                                <h2>Dr. Jose Luis Gutierrez Aguilar</h2>
                                <p>Abogado</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>DNI: 29354256 <br>
                                    E-mail: joseluisguty@hotmail.com <br>
                                    Colegiatura: C.A.L. Nº 75391
                                </p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="../../../assets/images/person_3.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Dr. Jose Luis Gutierrez Aguilar <span
                                        class="position">Abogado</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="block-2 ftco-animate">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../../../assets/images/person_4.jpg);">
                            <div class="box">
                                <h2>Dr. Jhover Waldo Meza Huamani</h2>
                                <p>Abogado</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>DNI: 45137535 <br>
                                    E-mail: jhover_nst88@hotmail.com <br>
                                    Colegiatura: C.A.L. Nº 72585
                                </p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="../../../assets/images/person_4.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Dr. Jhover Waldo Meza Huamani <span
                                        class="position">Abogado</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="block-2 ftco-animate">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../../../assets/images/person_3.jpg);">
                            <div class="box">
                                <h2>Dr. Aldo Piñan Saavedra</h2>
                                <p>Abogado</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>DNI: 10754409 <br>
                                    E-mail: aldopinansaavedra@gmail.com <br>
                                    Colegiatura: C.A.L. Nº 66502
                                </p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="../../../assets/images/person_3.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Dr. Aldo Piñan Saavedra<span
                                        class="position">Abogado</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="block-2 ftco-animate">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../../../assets/images/person_4.jpg);">
                            <div class="box">
                                <h2>Dr. Roy Ronal Soncco Cahuana</h2>
                                <p>Abogado</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>DNI: 47668409 <br>
                                    E-mail: kenzie_maem@hotmail.com <br>
                                    Colegiatura: C.A.A. Nº 11166
                                </p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="../../../assets/images/person_4.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Dr. Roy Ronal Soncco Cahuana <span
                                        class="position">Abogado</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="block-2 ftco-animate">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../../../assets/images/person_4.jpg);">
                            <div class="box">
                                <h2>Roxana Yamaly Roque Huamani</h2>
                                <p>Bachiller en Derecho</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>DNI: 46799880 <br>
                                    E-mail: roxanayrh@gmail.com <br>
                                    Condición: Bachiller
                                </p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="../../../assets/images/person_4.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Roxana Yamaly Roque Huamani <span
                                        class="position">Bachiller en Derecho</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="block-2 ftco-animate">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../../../assets/images/person_3.jpg);">
                            <div class="box">
                                <h2>Tatiana Florangel Colque Villalba</h2>
                                <p>Bachiller en Derecho</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>DNI: 73203932 <br>
                                    E-mail: tatianacolque86@gmail.com <br>
                                    Condición: Bachiller
                                </p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="../../../assets/images/person_3.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Tatiana Florangel Colque Villalba <span
                                        class="position">Bachiller en Derecho</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <div class="block-2 ftco-animate">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../../../assets/images/person_4.jpg);">
                            <div class="box">
                                <h2>Lucia Veronica Velasquez Almeida</h2>
                                <p>Estudiante de Derecho</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>DNI: 10112637 <br>
                                    E-mail: lveronica6@hotmail.com <br>
                                    Condición: X Ciclo Derecho
                                </p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="../../../assets/images/person_4.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Lucia Veronica Velasquez Almeida <span
                                        class="position">Estudiante de Derecho</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>