<div  *ngFor="let pActual of publicacionActual">
    <p>
        <img [src]='pActual.image.substr(1,pActual.image.length-2)' class="img-fluid" />
    </p>
    <h2 class="mb-3"  style="white-space: pre-wrap; ">{{pActual.title.substr(1,pActual.title.length-2)}}</h2>
    <p style="white-space: pre-wrap;">{{pActual.description.substr(1,pActual.description.length-2)}}</p>

    <div class="tag-widget post-tag-container mb-5 mt-5">
        <div class="tagcloud">
            <a href="#" class="tag-cloud-link">{{pActual.nombre_categoria}}</a>
            <!-- Redirigir a una pagina donde cambie el lado derecho con el filtro por link de id_categoria con una lista de publicaciones -->
            <br>
            <br>
            <a href="#" *ngFor="let key of keywords" class="tag-cloud-link">{{key}}</a>
        </div>
    </div>

</div> <!-- .col-md-8 -->